.gitattributes      text
.gitignore          text
gradlew             text eol=lf
*.bat               text eol=crlf
*.jar               binary
*.properties        text
*.gradle            text
*.java              text diff=java
